@import "./vars/sizes.css";
@import "./vars/palette.css";
@import "./vars/transition.css";
@import "./themes/dark.theme.css";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : Consolas, monospace;
}

html {
    font-size : 20px;
}